<a href="https://colab.research.google.com/github/ithadisushmitha/basic.ml-1/blob/main/My_first_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Program to determine whether the given number is even or odd

In [ ]:
n=int(input())
if n%2==0:
      print("EVEN")
else:
      print("ODD")

7
ODD

2.program to determine whether the given year is leap year or not

In [ ]:
n=int(input())
if(n%4==0 and n%100!=0) or n%400==0:
       print("LEAP YEAR")
else:
       print("ORDINARY YEAR")

2021
ORDINARY YEAR

3.program to find the sum of first 'n' natural numbers

In [ ]:
n=int(input())
sum=0
for i in range (1,n+1):
       sum+=i
print(sum)

15
120